# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Build artifacts
dist/
build/
*.egg-info/

# Databases
*.db
*.sqlite



jobs/