# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Build artifacts
dist/
build/
*.egg-info/

# Databases
*.db
*.sqlite
*.sqlite3

#node_modules
node_modules/

jobs/
career/


#dockerdata
**/loki/data/*
**/tempo/data/*
**/grafana/data/*
**/prometheus/data/*

#chroma_db
**/chroma_db/*